@import './_sidebar.css';

.main {
    transition: margin-left .3s ease-in-out;
    margin-left: 16rem;
    position: relative;
    top: 4.55rem;
    padding-block-end: 2.5rem;
    background-color: black;

    &.close {
        margin-left: 6rem;
    }
}