a:not([href]) {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

a:not([href]):hover {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.icone {
  margin-right: 6px;
}

.usuario {
  font-weight: bold;
}

.papel {
  text-transform: lowercase;
  font-size: small;
  font-weight: normal;
  margin-left: 4px;
}

.sidebar-estendida {
  width: 18.5rem;
}

.sidebar-recolhida {
  width: 6rem;
}

.texto-inline-visivel {
  display: inline-block;
  visibility: visible;
}

.texto-inline-escondido {
  display: none;
  visibility: hidden;
}

.sidenav-link-icon {
  font-size: 18px;
  width: 1rem;
  min-width: 1rem;
  margin: 0 0.5rem;
  text-align: center;
}

.sidebar {
  width: 16rem;
  position: fixed;
  top: 4.55rem;
  min-height: calc(100% - 4.55rem);
  transition: 3s;

  &.nav-link {
    margin-block-end: 2.222rem;
  };

  &.nav-pills .nav-link.active,
  .nav-pills .show>.nav-link {
    background-color: aquamarine;

    &:hover {
      background-color: blue;
    }
  };
  &.nav-link:hover {
    background-color: black;
  };
  & .toogle-bar {
    position: absolute;
    top: 45%;
    right: -2.8rem;
    transform: translateY(-50%);
  }
}