<aside class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-light">

  <ul class="nav nav-pills flex-column mb-auto">

    <li>
      <a class="nav-link link-dark" [routerLink]="['home']" routerLinkActive="active">
        <i class="sidenav-link-icon fa fa-home" aria-hidden="true"></i>
        <span> Home </span>
      </a>
    </li>

    <li>
      <a class="nav-link link-dark" [routerLink]="['engine-pressure']" routerLinkActive="active">
        <i class="sidenav-link-icon fa fa-line-chart" aria-hidden="true"></i>
        <span> Pressão Motor </span>
      </a>
    </li>
   
    <li>
      <a class="nav-link link-dark" [routerLink]="['engine-temperature']" routerLinkActive="active">
        <i class="sidenav-link-icon fa fa-line-chart" aria-hidden="true"></i>
        <span> Temperatura Motor </span>
      </a>
    </li>

    <li>
      <a class="nav-link link-dark" [routerLink]="['water-pressure']" routerLinkActive="active">
        <i class="sidenav-link-icon fa fa-line-chart" aria-hidden="true"></i>
        <span> Pressão Água </span>
      </a>
    </li>

    <li>
      <a class="nav-link link-dark" [routerLink]="['water-pressure']" routerLinkActive="active">
        <i class="sidenav-link-icon fa fa-line-chart" aria-hidden="true"></i>
        <span> Pressão Rev (?)</span>
      </a>
    </li>

    <li>
      <a class="nav-link link-dark" [routerLink]="['water-pressure']" routerLinkActive="active">
        <i class="sidenav-link-icon fa fa-line-chart" aria-hidden="true"></i>
        <span> Pressão Água 2 (?)</span>
      </a>
    </li>

    <li>
      <a class="nav-link link-dark" [routerLink]="['water-temperature']" routerLinkActive="active">
        <i class="sidenav-link-icon fa fa-line-chart" aria-hidden="true"></i>
        <span> Temperatura Água </span>
      </a>
    </li>

    <li>
      <a class="nav-link link-dark" [routerLink]="['oil-level']" routerLinkActive="active">
        <i class="sidenav-link-icon fa fa-line-chart" aria-hidden="true"></i>
        <span> Nível Óleo </span>
      </a>
    </li>

    <li>
      <a class="nav-link link-dark" [routerLink]="['lubrificating-filter']" routerLinkActive="active">
        <i class="sidenav-link-icon fa fa-line-chart" aria-hidden="true"></i>
        <span> Filtro Óleo </span>
      </a>
    </li>

  </ul>

  <hr />

  <div class="dropdown">
    <a class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUsuario"
      data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa fa-user-circle-o sidenav-link-icon" aria-hidden="true"></i>
      <span class="sidebar__item">
        <span>usuario </span>
      </span>
    </a>

    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUsuario">
      <li>
        <hr class="dropdown-divider" />
      <li>
        <a class="dropdown-item">
          <i class="fa fa-sign-out icone" aria-hidden="true"></i>
          <span>Sair</span>
        </a>
      </li>
    </ul>
  </div>

